{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'script.js' %}"></script>
    <title>Student details</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logoimg">
        <img src="logo.JPG" alt="CollegeLogo" width="100px" height="100px" />
      </div>
      <div class="head1">
        <div>
          <h1>Bharati Vidyapeeth College of Engineering</h1>
        </div>
        <div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login/SignUp</a></li>
            <li><a href="#">Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="registerform">
      <h1>Student Registration Form</h1>
      <h1>Personal Details</h1>
      <div class="personal">
        <span>Name:{{data.firstName}}</span>
        &nbsp;
        <span>Name:{{data.middleName}}</span>
        &nbsp;
        <span>Last Name: {{data.lastName}}</span>
        <br /><br />
        <span>D.O.B. : {{data.dob}}</span>
        <br /><br />
        <span>Gender: {{data.gender}}</span>
        <br /><br />
        <span>Email: {{data.mailId}}</span>
        <br /><br />
        <span>Father's Name: {{data.fatherName}}</span>
        <br /><br />
        <span>Mother's Name: {{data.motherName}}</span>
        <br /><br />
        <span>Mobile Number: {{data.middleName}}</span>
        <br /><br />
        <span>Address:{{data.middleName}}</span>
      </div>
      <div class="qualification">
        <h1>Qualification Details</h1>
        <table>
          <div class="qualification">
            <thead>
              <tr>
                <th>Class</th>
                <th>Board</th>
                <th>School Name</th>
                <th>Percent</th>
                <th>Passing year</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr class="tr">
                <td>Secondary</td>
                <td class="td">CBSE</td>
                <td class="td">{{data.tenthmarks}}</td>
                <td class="td">{{data.tenthSchoolName}}</td>
                <td class="td">{{data.tenthpassingyear}}</td>
                <td class="td">{{data.KPS}}</td>
                <td class="td">{{data.file.pdf}}</td>
              </tr>
              <tr>
                <td class="td">{{data.twelfthSchoolName}}</td>
                <td class="td">{{data.CBSE}}</td>
                <td class="td">{{data.twelfthmarks}}</td>
                <td class="td">{{data.KPS}}</td>
                <td class="td">{{data.tenthpassingyear}}</td>
                <td class="td">{{data.file.pdf}}</td>
              </tr>
            </tbody>
          </div>
        </table>
      </div>
      <!-- <select>
                <option>Percent</option>
                <option>CGPA</option>
            </select> 
            <br><br>  -->
    </div>
  </body>
</html>
